.wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50px;
}

.input {
  border: none;
  border-radius: 5px;
  width: 200px;
  margin-right: 10px;
}
.button {
  border: none;
  border-radius: 5px;
  width: 200px;
  transition: 300ms cubic-bezier(0.4, 0, 0.2, 1) 100ms;
}

.button:hover {
  background-color: aquamarine;
  transform: scale(0.9);
}
