ul {
  padding: 0;
  list-style: none;
}
.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aquamarine;
  height: 100vh;
}
.section-title {
  text-align: center;
  display: block;
}

.card {
  width: 300px;
  display: flex;
  align-self: center;
  flex-direction: column;
  border: 1px solid cadetblue;
  border-radius: 5px;
  padding: 5px;
  margin-left: 10px;
  margin-bottom: 20px;
  background-color: rgb(27, 151, 209);
}
.cards-list {
  display: flex;
}

.card-title {
  text-align: center;
}
.card-image {
  align-self: center;
}

.button {
  display: block;
  width: 150px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
}
.confirm-form {
  align-self: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 12px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  background-color: rgb(27, 151, 209);
}

.confirm-form label {
  display: flex;
  flex-direction: column;
  /* margin-bottom: 16px; */
}

.select {
  height: 36px;
}
.radio-container {
  display: flex;
}
.input-radio {
  margin-bottom: 0;
}

input,
textarea {
  padding: 8px;
  font: inherit;
}

textarea {
  resize: none;
}
.quantity-input {
  margin-bottom: 10px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
