.wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50px;
}

.input {
  border: none;
  border-radius: 5px;
  width: 200px;
  margin-right: 10px;
}
.smilesList {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  font-size: 50px;
}
.smilesListItem {
  display: flex;
  flex-direction: column;
  width: 120px;
}
.smile {
  margin: 0;
  font-size: inherit;
  text-align: center;
}
.votes {
  margin: 0;
  text-align: center;
}
